.fa-chalkboard-user {
    margin-top: 1.375rem;
    margin-bottom: 1rem;
    color: #4189FF;
    font-size: 2rem;
    width: 100%;
}

.fa-guitar {
    margin-top: 1.375rem;
    margin-bottom: 1rem;
    color: #FABC73;
    font-size: 2rem;
    width: 100%;
}

.fa-dumbbell {
    margin-top: 1.375rem;
    margin-bottom: 1rem;
    color: #FFBE08;
    font-size: 2rem;
    width: 100%;
}

.fa-headphones {
    margin-top: 1.375rem;
    margin-bottom: 1rem;
    color: #1CAFBF;
    font-size: 2rem;
    width: 100%;
}

.fa-tv {
    margin-top: 1.375rem;
    margin-bottom: 1rem;
    color: #E77E23;
    font-size: 2rem;
    width: 100%;
}

.fa-motorcycle {
    margin-top: 1.375rem;
    margin-bottom: 1rem;
    color: #7E0303;
    font-size: 2rem;
    width: 100%;
}