.hobbies {
    background: #F5F5F5;
}

.hobbies__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    background: #F5F5F5;
}

@media screen and (min-width:768px) {
    .hobbies__container {
        padding: 2rem;
    }
}

@media screen and (min-width:1280px) {
    .hobbies__container {
        width: 80rem;
        margin: 0 auto;
    }
}