.banner__lista {
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

@media screen and (min-width:768px) {
    .banner__lista {
        width: 27rem;
    }
}

@media screen and (min-width: 1280px) {
    .banner__lista {
        width: 35rem;
    }
}