@media screen and (max-width:1080px) {
    .nav__lista {
        transition: left 0.7s;
        text-align: center;
        position: absolute;
        margin: 0;
        width: 100%;
        height: calc(100% - 2.98875rem);
        top: 2.98875rem;
        display: flex;
        flex-direction: column;
        list-style: none;
        backdrop-filter: blur(10px);
        overflow-y: auto;
        transform: translate(0, 0);
        left: 100%;
    }

    .mostrarMenu {
        text-align: center;
        position: absolute;
        margin: 0;
        width: 100%;
        height: calc(100% - 2.98875rem);
        top: 2.98875rem;
        left: 0%;

        display: flex;
        flex-direction: column;
        list-style: none;
        backdrop-filter: blur(10px);
        overflow-y: auto;
        transition: left 0.5s;
    }
}

@media screen and (min-width:1080px) {
    .nav__lista {
        display: flex;
        list-style: none;
    }
}