@media screen and (max-width:1080px) {
    .nav__item {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width:1080px) {
    .nav__item {
        margin-right: 2rem;
    }
}