.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #24243e, #302b63, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contacto__formulario {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1280px) {
    .contacto__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80rem;
    }

    .contacto__formulario {
        width: 41rem;
    }
}